body main{
    min-height: 100%;
}

.main_component{
    min-height: 81.2vh;
}

#product-list{
    margin-top: 20px;
}

.moddel{
    display: flex;
    justify-content: space-around;
}

#profile{
    max-width: 33%;
}